@charset "utf-8";
/* CSS Document */


.filter-clockins{
	border-bottom: 1px solid #ffffff;
	padding-bottom: 18px;
}
.filter-clockins select{
	width: 150px;
	background-color: transparent;
	border: 1px solid #ffffff;
	margin-right: 15px;
	color: white;
}
.filter-clockins .custom-select {
    background: url(../img/caret.png) no-repeat right 0.75rem center;
}
.filter-clockins select:focus{
	color: white;
}
.filter-clockins select option{
	color: #333333;
}
.status-id-list li{
	display: inline-block;
	margin-right: 10px;
}
.status-id-list li:last-child{
	margin-right: 0;
}
.status-id{
	width: 9px;
	height: 9px;
	margin-right: 5px;
}