@charset "utf-8";
/* CSS Document */

@import "font.css";

.row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 7.5px;
    padding-left: 7.5px;
}
::-webkit-scrollbar {
    width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background: #e9b521; 
}
::-webkit-scrollbar-thumb:hover {
	background: #efbe13; 
}
.btn{
	font-size: 12px;
	letter-spacing: 1px;
	height: 38px;
	font-family: poppins-reg;
}
.btn-sm{
	height: 28px;
	font-size: 11px;
}
.btn-primary{
	color: #ffffff;
	background-color: #482faa;
	border: 1px solid #482faa;
}
.btn-secondary{
	color: #482faa;
	background-color: #e9b521;
	border: 1px solid #e9b521;
}
.btn-outline-primary{
	color: #482faa;
	border: 1px solid #482faa;
}
.form-btn, .form-control{
	height: 45px;
}
.form-btn{
	font-size: 13px;
}
.form-control{
	font-size: 14px;
}
.table-borderless th, .table-borderless td, .table-borderless thead th, .table-borderless tbody + tbody {
    white-space: nowrap;
}
.modal-header{
	border-bottom: none;
	padding-bottom: 0;
	padding-right: 20px;
}
.modal-body{
	padding-top: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 25px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #482faa;
	border-radius: 0;
}
.tab-sec{
	border-bottom: 1px solid #482faa;
}
.clocked-in{
	background-color: #35d71e;
}
.on-break{
	background-color: #eab713;
}
.on-leave{
	background-color: #1ae8e8;
}
.absent{
	background-color: #d52929;
}
.clocked-in-txt{
	color: #35d71e;
}
.on-break-txt{
	color: #eab713;
}
.on-leave-txt{
	color: #1ae8e8;
}
.absent-txt{
	color: #d52929;
}

