@charset "utf-8";
/* CSS Document */

.filter-loc{
	width: calc(100% - 45px);
}
.filter-loc select{
	border-right: none;
}
.filter-search{
	width: 45px;
	font-size: 15px;
}
.custom-control-label {
	margin-left: -2px;
	font-size: 12px;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
	height: 14px;
	width: 14px;
    left: -1.3rem;
	top: 2px;
}
.custom-control-label::after {
    left: -1.3rem;
    width: 14px;
    height: 14px;
	top: 2px;
}
.filter-extra .custom-control{
	margin-right: 10px;
}
.staff-img{
	height: 40px;
	width: 40px;
}
.staff-list .media-body{
	height: 40px;
}
.staff-status{
	width: 9px;
	height: 9px;
	border-radius: 30px;
	margin-left: 5px;
	display: inline-block;
}
.staff-list li{
	position: relative;
    border-bottom: 1px solid #ced4da;
	padding-top: 15px;
	padding-bottom: 15px;
}
.staff-list li.active::before{
	content: "";
	width: 4px;
	background-color: #e9b521;
	height: 40px;
	left: -20px;
	position: absolute;
}
.staff-list li:last-child{
    border-bottom: none;
	padding-bottom: 0;
}
.more-info{
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	top: 50%;
}
.staff-img-lg{
	width: 150px;
	height: 150px;
}
.staff-summary{
	position: relative;
}
.staff-status-txt{
	position: absolute;
	right: 0;
	top: 0;
}
.staff-info-wrap{
  display: flex;
  flex-flow: row wrap;
}
.staff-info{
	margin-right: 40px;
}
.staff-history {
	border-bottom: 1px solid #ced4da;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.staff-history select{
	width: 150px;
}
.heat-map{
	width: 100%;
	height: 150px;
	background-color: #f5f5f5;
	line-height: 150px;
	text-align: center;
}
.heat-map p{
}

