@charset "utf-8";
/* CSS Document */


@font-face{
	font-family: lato-reg;
	src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face{
	font-family: poppins-lyt;
	src: url(../fonts/poppins/Poppins-Light.otf);
}
@font-face{
	font-family: poppins-reg;
	src: url(../fonts/poppins/Poppins-Regular.otf);
}
@font-face{
	font-family: poppins-med;
	src: url(../fonts/poppins/Poppins-Medium.otf);
}