@charset "utf-8";
/* CSS Document */

@import "font.css";

body{
	font-size: 14px;
	font-family: lato-reg;
	color: #515151;
	letter-spacing: 0.5px;
}
a{
	color: #482faa;
}
a.link-yellow{
	color: #e9b521;
}
a.link-grey{
	color: #9f9f9e;
}
a.link-black{
	color: #333333;
}
a.yellow:hover{
	color: #efbe13;
}
a:hover{
	text-decoration: none;
}
th{
	font-family: poppins-med;
	font-weight: normal;
}
.container-fluid{
	padding-right: 30px;
	padding-left: 30px;
}
.font-grey{
	color: #9f9f9e;
}
.font-black{
	color: #333333;
}
.size-30{
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 0;
}
.size-24{
	letter-spacing: 0;
	font-size: 24px;
}
.size-18{
	font-size: 18px;
	letter-spacing: 0;
}
.size-16{
	font-size: 16px;
	line-height: 16px;
}
.size-12{
	font-size: 12px;
}
.margin-btm{
	margin-bottom: 15px;
}
.bg-blue3L{
	background-color: #866ee9;
}
.bg-grey{
	background-color: #f5f5f5;
}
#app-container{
	position: relative;
}
.navbar{
	padding-right: 30px;
	padding-left: 30px;
	height: 65px;
}
.navbar-brand{
	padding-top: 0px;
}
.secondary-text{
	font-size: 12px;
	letter-spacing: 1px;
}
.lato-reg{
	font-family: lato-reg;
}
.poppins-lyt{
	font-family: poppins-lyt !important;
}
.poppins-reg{
	font-family: poppins-reg !important;
}
.poppins-med{
	font-family: poppins-med !important;
}
.text-primary{
	color: #6449d0 !important;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#header{
	background-color: white;
}
#header ul{
	margin: 0;
}
#header ul li{
	padding: 0 20px;
}
#header ul li i{
	font-size: 16px;
}
#header ul li:first-child{
	padding-left: 0;
}
#header ul li:last-child{
	padding-right: 0;
}
.sidebar{
	width: 300px;
	background-color: #482faa;
	height: calc(100vh - 65px);
	position: absolute;
	left: 0;
	top: 65px;
	padding: 50px 0px;
	color: #d2caf2;
}
.sidebar-drawer{
	display: none;
}
.sidebar .menu-section{
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
}
.sidebar ul li{
	position: relative;
}
.sidebar ul li:hover{
	background-color: #866ee9;
}
.sidebar ul li.active{
	background-color: #6449d0;
}
.sidebar ul li.active::before{
	content: "";
	width: 4px;
	height: 45px;
	background-color: #e9b521;
	position: absolute;
	left: 0px;
}
.sidebar ul li a{
	color: #d2caf2;
	padding: 12px 30px;
	display: block;
	letter-spacing: 0.5px;
}
.sidebar ul li.active a{
	color: #ffffff;
}
.sidebar ul li i{
	display: inline-block;
	margin-right: 12px;
	margin-top: -2px;
}
.mainbody{
	width: calc(100vw - 300px);
	position: absolute;
	right: 0;
	background-color: #6449d0;
	height: calc(100vh - 65px);
	top: 65px;
	overflow: auto;
	padding-bottom: 30px;
}
.page-title{
	color: white;
	font-size: 28px;
	margin-top: 35px;
	margin-bottom: 35px;
	font-family: poppins-reg;
}

.footer{
	padding-left: 30px;
	position: absolute;
	bottom: 30px;
}

@media (max-width: 1024px){
	.sidebar {
		width: 74px;
		padding: 0;
		transition: width 0.4s ease-in-out;
	}
	.sidebar-drawer{
		display: block;
	}
	.sidebar-slide{
		width: 200px;
	}
	.mainbody{
		width: calc(100vw - 74px);
		left: 74px;
		transition: left 0.4s ease-in-out;
	}
	.mainbody-slide{
		left: 200px;
	}
	.tabLink, .footer, .menu-section{
		display: none;
	}
	.menu{
		width: 74px;
		height: 74px;
		line-height: 74px;
		text-align: center;
		background-color: #866ee9;
		margin-bottom: 20px;
	}
	.sidebar-drawer{
		font-size: 18px;
		color: white;
		cursor: pointer;
	}
}

@media (max-width: 500px){
	.container-fluid, .navbar{
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (max-width: 470px){
	.last-name{
		display: none;
	}
}
	
	
	
	
	