@charset "utf-8";
/* CSS Document */

.element-space{
	height: calc(100vh - 65px);
}
.loader-wrap{
	height: inherit;
	width: inherit;
	position: relative;
}
.loader{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}