@charset "utf-8";
/* CSS Document */

@import 'font.css';

body{
	background: url(../img/login-bg.jpg) center center no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	letter-spacing: 0.5px;
	font-size: 14px;
}
.container-fluid{
	padding-right: 200px;
	padding-left: 200px;
}
.logo{
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	top: 30px;
}
form{
	padding: 30px 35px 50px;
}
.size-24{
	font-size: 24px;
	letter-spacing: 0;
	font-family: poppins-reg;
}
@media(max-width: 1440px){
	.container-fluid{
		padding-right: 150px;
		padding-left: 150px;
	}
}
@media(max-width: 1300px){
	.container-fluid{
		padding-right: 80px;
		padding-left: 80px;
	}
}
@media(max-width: 1200px){
	.container-fluid{
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media(max-width: 992px){
	.container-fluid{
		padding-right: 50px;
		padding-left: 50px;
	}
}
@media(max-width: 575px){
	.container-fluid{
		padding-right: 80px;
		padding-left: 80px;
	}
}
@media(max-width: 450px){
	.container-fluid{
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media(max-width: 350px){
	.container-fluid{
		padding-right: 15px;
		padding-left: 15px;
	}
}