@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kcv66g');
  src:  url('fonts/icomoon.eot?kcv66g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kcv66g') format('truetype'),
    url('fonts/icomoon.woff?kcv66g') format('woff'),
    url('fonts/icomoon.svg?kcv66g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drawer:before {
  content: "\e906";
}
.icon-account:before {
  content: "\e900";
}
.icon-clockin:before {
  content: "\e901";
}
.icon-dashboard:before {
  content: "\e902";
}
.icon-employee:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-tad:before {
  content: "\e905";
}
